/* by hey.georgie.nu for izzy.blog */

code,
pre {
    --code-color: #2f3daa;
    --code-background-color: #efeff9;
    --code-background-color-dark-mode: #231c2d;
}

code {
    background-color: var(--code-background-color-dark-mode);
    color: var(--accent-color);
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
}

pre {
    background-color: var(--code-background-color-dark-mode);
    color: var(--accent-color);
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    margin: 3rem 0;
    padding: 1.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre > code {
    background: none;
    padding: 0;
}
